.wrapper {
    background-color: lightblue;
    padding: 5px;
}

/* Descendent  */

/* Direct children */
.wrapper > a {
    color: orangered;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
} 

/* All children */
.wrapper a {
    color: rgb(245, 1, 1);
    font-style: italic;
    font-size: x-large;
}

/* Sibling */

/* Direct siblings */
.wrapper + h1 {
    font-family: sans-serif;
    font-size: 5rem;
    color: darkgreen;
    text-align: center;
}

/* All siblings */
.wrapper ~ h1 {
    color: orangered;
    font-size: 6rem;
    font-weight: normal;
}